#text3, #text2, #text1 {
  font-style: italic;
  font-size: 30px;
  color: #008baa;
  text-align: center;
  position: absolute;
  justify-content: left;
}

#bienvenido {
  display: flex;
  justify-content: center;
  text-align: center;
  color: aliceblue;
  padding: 50px;
  font-size: 40px;
  background: -webkit-linear-gradient(#eee, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#welcome {
  padding: 0px;
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

a {
  margin: 5px;
  font-style: italic;
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
  /*text-shadow: 3px 3px 2px rgba(152, 150, 207, 0.7);*/
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

a:hover {
  background-color: #0095ff;
  color: rgb(255, 255, 255);
}

.navbar {
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

img {
  float: left;
  height: 10%;
  width: 15%;
}

.test {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fotoalex {
  padding: 25px;
  margin: 25px;
  width: 300px;
  height: 300px;
  border-radius: 195px;
  border: 10px solid #0095ff;
}

#contacto {
  transform: translate(-150%, 10%);
  display: flex;
  margin-top: 120px;
  height: 200px;
  width: 200px;
  border-radius: 195px;
  border: 10px solid #0095ff;
}

#numero {
  float: left;
  display: flex;
  margin-top: 200px;
  font-style: italic;
  text-align: left;
  color: #008baa;
}

#contact {
  margin: 50px;
}

#corr {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
  display: flex;
  height: 200px;
  width: 200px;
  border-radius: 195px;
  border: 10px solid #0095ff;
}

svg {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
}

#gmail {
  float: right;
  display: flex;
  margin-top: 440px;
  font-style: italic;
  text-align: right;
  color: #008baa;
  transform: translate(-50%, -50%);
}

#lugar {
  transform: translate(-190%, -530%);
  float: left;
  display: flex;
  margin-top: 770px;
  font-style: italic;
  text-align: left;
  color: #008baa;
}

#ubiazul {
  transform: translate(-240%, -20%);
  display: flex;
  margin-top: 700px;
  height: 200px;
  width: 200px;
  border-radius: 195px;
  border: 10px solid #0095ff;
}

#ubi {
  transform: translate(17%, 50%);
  margin: 100px;
}

p {
  padding: 35px;
  font-style: italic;
  font-size: 30px;
  color: #008baa;
}

ol li {
  margin-left: 25%;
  font-style: italic;
  font-size: 30px;
  color: #00667d;
}

ul li {
  margin-left: 25%;
  font-style: italic;
  font-size: 30px;
  color: #004858;
}

div h1 {
  color: #008baa;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  font-style: italic;
}

#text1 {
  transform: translate(50%, 185%);
}

#text2 {
  transform: translate(-20%, 350%);
}

#text3 {
  transform: translate(13%, 500%);
}

#logoweb {
  transform: translate(50%);
  height: 200px;
  width: 200px;
}

.web {
  list-style: none;
}

#logocs50 {
  transform: translate(400%, 300%);
  height: 50px;
  width: 100px;
}

#logouni {
  transform: translate(-260%, 450%);
  height: 50px;
  width: 100px;
}


#imagenllamada {
  height: 100px;
  width: 100px;
  margin-top: 50px;
  margin-left: 250px;
}

#imagenlocal {
  height: 100px;
  width: 100px;
  margin-top: 250px;
  margin-left: 250px;
}

#imagencorreo {
  margin-top: 150px;
  height: 100px;
  width: 100px;
}

#textcontact1 {
  font-size: 20px;
  text-align: right;
  margin-top: 50px;
}

#textcontact2 {
  font-size: 20px;
  text-align: left;
}

#textcontact4 {
  font-size: 20px;
  text-align: right;
  margin-top: 125px;
}

#video {
  margin-top: 110px;
  width: 100%;
  height: 700px;
}

table.default th {
  padding: 0.2em 0.8em;
  border: 1px solid rgba(20, 50, 90, 0.25);
  background: rgba(0, 102, 255, 0.25);
  text-align: center;
}

th {
  margin-left: 50px;
  justify-content: center;
  align-content: center;
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}

table.default td {
  padding: 0.2em 0.8em;
  border: 1px solid rgba(16, 76, 167, 0.25);
  background: rgba(90, 156, 255, 0.25);
  text-align: left;
}

user agent stylesheet td {
  display: table-cell;
  vertical-align: inherit;
}

user agent stylesheet table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}

caption {
  color: #008baa;
}

@media screen and (max-width: 640px) {
  body {
    background: rgb(255, 255, 255);
  }
}
@media screen and (min-width: 640px) and (max-width: 1280px) {
  body {
    background: rgb(255, 255, 255);
  }
}/*# sourceMappingURL=style.css.map */